/* src/components/WhatsAppContact.css */
.whatsapp-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; /* Cor do WhatsApp */
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .whatsapp-button:hover {
    background-color: #128C7E; /* Cor mais escura no hover */
  }
  
  .whatsapp-button i {
    margin-right: 8px; /* Espaço entre o ícone e o texto */
  }